@import "../styles/colors/light.css";
@import "../styles/colors/dark.css";

@import "tailwindcss";

@theme {
  --font-display: var(--font-poppins);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-surface: var(--surface);
  --color-surface-foreground: var(--surface-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);
  --color-input: var(--input);

  --radius: var(--radius);

  /* Legacy Compatibility - Removed */
}