@import "tailwindcss";

@theme {
  --font-display: var(--font-poppins);

  --color-primary: #20C533;
  --color-background-light: #FFFFFF;
  --color-background-dark: #0D1117;
  --color-surface-light: #F8F8F8;
  --color-surface-dark: #161B22;
  --color-text-light: #1A1A1A;
  --color-text-dark: #E6EDF3;
  --color-subtext-light: #666666;
  --color-subtext-dark: #8B949E;

  --radius: 12px;
}